:root {
  --lightBackground: hsl(0, 0%, 98%);
  --lightText: hsl(200, 15%, 8%);
  --white: hsl(0, 0%, 100%);
  --darkGrey: hsl(0deg 0% 52%);
}

body {
  background-color: var(--lightBackground);
  color: var(--lightText);
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}
